{% extends "core/skeleton.html" %}
{% load static %}
{% comment %}
 The base template extends the skeleton template so it includes all the same page structure and styles,
 scripts, head data, and library imports. The base template adds the navbar as a common page component.
 {% endcomment %}

{% block body %}
    {% include "core/navbar.html" %}

    {% block unconstrained-content %}{% endblock unconstrained-content %}
    <div class="container">{% block content %}{% endblock content %}</div>

    {% comment %} <footer class="bg-dark text-white py-3 mt-5">
        <div class="container text-center">
            <p class="mb-1">© 2025 Textbook X Change. All rights reserved.</p>
            <p class="mb-0">
                <a href="{% url 'about' %}" class="text-white me-3">About Us</a>
        
            </p>
        </div>
    </footer> {% endcomment %}
{% endblock %}
